<!DOCTYPE html>
<html lang="en">

<head>
    <nav class="navbar-fixed-top">
      <ul>
        <li><a href="#system">System</a></li>
        <li><a href="#userpass">Users/Passwords</a></li>
        <li><a href="#logins">Logins</a></li>
        <li><a href="#network">Network</a></li>
        <li><a href="#programs">Programs</a></li>
        <li><a href="https://github.com/cudilara/friendly-forensics/wiki">About</a></li>
        <li><a href="#" onclick="window.print();return false;">Print</a></li>
      </ul>
    </nav>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Thesis</title>
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <script src='static/Chart.min.js'></script>
</head>
<style>
    body {
        background-color: #fafafa;
    }
    .chart-legend li span{
                display: inline-block;
                width: 40px;
                height: 12px;
                margin-right: 5px;
            }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: white;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }
</style>

<body>
    <div class="jumbotron jumbotron-fluid text-center">
		<div>
          <h2>
            💾
          </h2>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid text-center">
		<div>
          <h2>
              Easy Forensics
          </h2>
        </div>
    </div>

    <div class="text-center">
        <form action = "http://localhost:4000/" method = "POST">
            <b>
      <label for="investigation_name_in" class="text-center">Investigation Name</label>
        </b>
        <input class="form-control" type="text" name="investigation_name" placeholder="give name to your case" id="investigation_name_in">
        </form>
    </div>
    <div class="text-center">
        <h4 id="system">
            <br>
                Information for:
            </br>
        </h4>
        Name:
        {% if acceptedName%}
            {{ acceptedName }}
            {% endif %}
        <br>
        Evidence ID:
        {% if nameID%}
            {{ nameID }}
            {% endif %}
        </br>
        Date:
        {% if date%}
            {{ date }}
            {% endif %}
    </div>

    <!--System Info-->
    <div class="text-center">
		<h3>
            <br>
                System Information
            </br>
        </h3>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Kernel Name</th>
          <td>{{ kernelName }}</td>
        </tr>
        <tr>
          <th scope="row">Machine Name</th>
          <td>{{ machineName }}</td>
        </tr>
        <tr>
          <th scope="row">Kernel Version</th>
          <td>{{ kernelVersion }}</td>
        </tr>
        <tr>
          <th scope="row">Kernel Version Build</th>
          <td>{{ kVersionBuild }}</td>
        </tr>
      <tr>
          <th scope="row">Processor</th>
          <td>{{ processor }}</td>
        </tr>
        <tr>
          <th scope="row">Operating System</th>
          <td>{{ os }}</td>
        </tr>
      </tbody>
    </table>

    <!--Users info-->
    <div class="table-responsive text-center">
        <h3 id="userpass">
            <br>
                Contents of /etc/hosts
            </br>
        </h3>

        <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col"><center>Address</center></th>
                  <th scope="col"><center>Host Name</center></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      {% for item in hostsAddress %}
                            <center><p>{{item}}</p></center>
                      {% endfor %}
                  </td>
                  <td>
                      {% for item in hostsName %}
                            <center><p>{{item}}</p></center>
                        {% endfor %}
                  </td>
                </tr>
              </tbody>
          </table>
    </div>

    <!--Passwords info-->
    <div class="text-center">
		<h3>
            <br>
                Passwords
            </br>
        </h3>
        </div>

        <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col"><center>Host Name</center></th>
                  <th scope="col"><center>Password</center></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      {% for item in NameInPswd %}
                            <center><p>{{item}}</p></center>
                      {% endfor %}
                  </td>
                  <td>
                      {% for item in hostsPassword %}
                            <p>{{item}}</p>
                        {% endfor %}
                  </td>
                </tr>
              </tbody>
          </table>
    </div>


    <!--Login stats-->
    <div class="text-center">
		<h3 id="logins">
            <br>
                Login Statistics
            </br>
        </h3>
        <canvas id="logchart" width="600" height="400"></canvas>
        <script>
           var barData = {
           labels : [{% for user, start, end, stats in lastLogins %}
                          "{{user}}",
                      {% endfor %}],
           datasets : [
            {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
                    data : [{% for user, start, end, stats in lastLogins %}
                              {{stats}},
                            {% endfor %}]
                          }
                  ]
               }

           var mychart = document.getElementById("logchart").getContext("2d");

           steps = 10
           max = 20
           new Chart(mychart).Bar(barData, {
                scaleOverride: true,
                scaleSteps: steps,
                scaleStepWidth: Math.ceil(max / steps),
                scaleStartValue: 0,
                scaleShowVerticalLines: true,
                scaleShowGridLines : true,
                barShowStroke : true,
                scaleShowLabels: true
           });
       </script>
    </div>

    <!--Network info: DNS-->
    <div class="text-center">
		<h3 id="network">
            <br>
                DNS
            </br>
        </h3>
         DNS Name:
        {% if dnsName%}
            {{ dnsName }}
            {% endif %}
        <br>
        IP address:
        {% if dnsAddr%}
            {{ dnsAddr }}
            {% endif %}
        </br>
    </div>

    <!--IP graph-->
    <div class="text-center">
		<h3>
            <br>
                IP Origins
            </br>
        </h3>
        <canvas id="piechart" width="600" height="400"></canvas>
        <script>
           var pieData = [
            {% for item,label,colors in set %}
                {
                    value: {{item}},
                    label: "{{label}}",
                    color : "{{colors}}"
                },
                {% endfor %}
            ];

           // get bar chart canvas
           var mychart = document.getElementById("piechart").getContext("2d");
           steps = 10
           max = 10
           // draw pie chart
           var PChart = new Chart(mychart).Pie(pieData);

           </script>
        <div id="js-legend" class="chart-legend">
            <script>
            document.getElementById('js-legend').innerHTML = PChart.generateLegend();
            </script>
        </div>
    </div>

    <!--List of programs-->
    <div class="text-center">
		<h3 id="programs">
            <br>
                All Programs
            </br>
        </h3>

    </div>
    <table class="table table-bordered">
        <tr>
            <td>
                {% for item in allPrograms1 %}
                    <p>{{item}}</p>
                {% endfor %}
            </td>
            <td>
                {% for item in allPrograms2 %}
                    <p>{{item}}</p>
                {% endfor %}
            </td>
            <td>
                {% for item in allPrograms3 %}
                    <p>{{item}}</p>
                {% endfor %}
            </td>
            <td>
                {% for item in allPrograms4 %}
                    <p>{{item}}</p>
                {% endfor %}
            </td>
            <td>
                {% for item in allPrograms5 %}
                    <p>{{item}}</p>
                {% endfor %}
            </td>
        </tr>
    </table>
</body>
<hr>
    <div class="footer" >
    <p>Madinger Thesis Project</p>
    </div>
</html>